html,
body {
  height: 100vh;
  /* width: 100vw; */
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: rgb(245, 245, 245);
  /* padding: 0;
  margin: 0; */
}

/*
  ======================================
  Navigation
  ======================================
*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 6%; */
  /* padding: 0 2vw; */
  position: sticky;
  top: 0;
  background-color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.nav-start {
  display: flex;
}

.burger-icon {
  /* width: 24px; */
  height: 1.25rem;
  /* vertical-align: middle; */
  margin-left: 1.375rem;
  margin-right: 1.375rem;
  border: none;
  cursor: pointer;
  padding: 0;
  /* color: red; */
}

.youtube-logo img {
  height: 1.25rem;
  margin-left: 0.25rem;
}

.nav-center {
  display: flex;
  align-items: center;
}

.search-bar {
  /* padding-left: 1vw; */
  /* align-self: flex-start; */
  width: 35rem;
  height: 2.5rem;
  margin-left: 1rem;
  padding-left: 0.75rem;
  /* padding-right: 0rem; */
  /* padding-right: 0; */
  /* border-right: none; */
  border-bottom-left-radius: 0.125rem;
  border-top-left-radius: 0.125rem;
}

@media screen and (max-width: 1100px) {
  input[type='text'] {
    width: auto;
  }
}

@media screen and (max-width: 675px) {
  input[type='text'] {
    display: none;
  }
}

.search-icon {
  height: 2.5rem;
  max-width: none;
  padding-left: 1.125rem;
  padding-right: 1.125rem;
  border-color: lightgray;
  border-left: none;
  background-color: rgb(243, 243, 243);
  border-bottom-right-radius: 0.125rem;
  border-top-right-radius: 0.125rem;
}

@media screen and (max-width: 675px) {
  .search-icon {
    border: none;
    background-color: white;
  }
}

button img,
a img {
  max-width: none;
}

.nav-end {
  display: flex;
  margin-right: 1.375rem;
}

.video-icon {
  border: none;
  margin-right: 0.25rem;
}

.voice-icon {
  border: none;
  margin-right: 0.25rem;
  background-color: rgb(243, 243, 243);
  border-radius: 100%;
  margin-left: 0.5rem;
}

.apps-icon {
  border: none;
  margin-right: 0.25rem;
}

.notifications-icon {
  border: none;
  margin-right: 0.25rem;
}

.user-icon {
  border: none;
}

form input[type='text'] {
  border-right: 1px solid;
  border-color: lightgray;
}

form button {
  /* padding: 4px 8px; */
  background: #f8f8f8;
  /* border: none; */
  border-color: lightgray;
  cursor: pointer;
}

/*
  ======================================
  Main Content
  ======================================
*/

main {
  display: grid;
  /* grid-template-rows:
    1fr;
  grid-template-columns: 1fr auto; */
  /* column-gap: 1rem; */
  /* width: 100%; */
  /* height: 100%; */
  /* padding: 2vh 2vw; */
}

iframe {
  height: 450px;
  width: 790px;
  resize: both;
  margin-top: 1.375rem;
  margin-left: 1.375rem;
}

.video-content {
  margin-left: 1.375rem;
  margin-right: 1.375rem;
  grid-column: 1;
  /* grid-row: 2; */
  margin-top: -8rem;
}

@media screen and (max-width: 1030px) {
  .video-content {
    margin-top: 0rem;
    margin-bottom: 1.75rem;
  }
}

.video-content button {
  border: none;
}

.video-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: -1rem; */
  border-bottom: 1px solid lightgray;
}

.video-menu svg {
  height: 1.25rem;
  margin-left: 0.5rem;
}

/* .video-menu {
  display: flex;
  align-items: center;
} */

.video-bar button test4 {
  /* margin-right: 2rem; */
}

h3 {
  /* margin-top: 0rem; */
  margin-bottom: 0rem;
  font-weight: 400;
  font-size: large;
}

p,
span {
  font-size: 0.875rem;
}

button svg {
  height: 1rem;
  border: none;
}

.video-description {
  display: flex;
  justify-content: space-between;
  grid-column: 1;
  margin-left: 1.375rem;
  margin-right: 1.25rem;
  margin-top: -2rem;
}

/* @media screen and (max-width: 1010px) {
  .video-description {
    margin-top: ;
  }
} */

.video-description h3 {
  font-size: small;
  font-weight: 600;
  margin-right: 1.375rem;
}

.video-description .subscribe {
  padding: 10px 16px;
  /* margin-left: auto; */
  background: #cc0000;
  border: none;
  border-radius: 2px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  font-size: small;
  font-weight: 600;
  margin: 1.5rem 0rem;
}

section img {
  border-radius: 50%;
  margin-top: 1rem;
  margin-right: 1rem;
}

.description-container {
  display: flex;
}

.text h3 {
  margin-top: 20px;
}

.text p {
  margin-top: 0px;
  font-size: 0.75rem;
}

/*  */

main section {
  max-width: 790px;
  min-width: fit-content;
  margin-right: 2.75rem;
}

/*  */

.video-comments {
  border-top: 1px solid lightgray;

  grid-column: 1;
  margin-left: 1.375rem;
  margin-right: 1.375rem;
}

.video-comments p {
  text-align: center;
  margin-top: 2.5rem;
}

.test {
  grid-column: 1;
  margin-left: 5.4rem;
  margin-top: -1.5rem;
}

.test p {
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

.test button {
  border: none;
  font-weight: 600;
  font-size: 0.75rem;
  padding-left: 0rem;
  margin-bottom: 1rem;
  margin-top: -1rem;
  color: gray;
  cursor: pointer;
}

p a {
  text-decoration: none;
  color: rgb(0, 81, 255);
}

/*
  ======================================
  Side Content
  ======================================
*/

aside {
  grid-column: 2;
  grid-row: 1;
  margin-top: 1.1rem;
  /* display: flex;
  justify-content: flex-end;
  align-self: flex-start; */
  margin-right: 3.3rem;
}

.video-preview {
  display: flex;
  /* margin-left: -3rem; */
}

.test0 {
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.video-preview {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

.video-preview a {
  text-decoration: none;
}

.video-preview a .thumbnail-details-top {
  font-size: small;
  color: black;
}

.video-preview a .thumbnail-details {
  font-size: small;
  color: rgb(100, 100, 100);
}

.btn-secondary {
  padding: 5px 12px;
  margin: 4px 8px 4px 0;
  background-color: rgb(228, 228, 228);
  border-radius: 16px;
  color: rgb(34, 34, 34);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  border: 1px solid rgb(202, 202, 202);
  cursor: pointer;
  margin-bottom: 0.75rem;
}

.btn-first {
  padding: 5px 12px;
  margin: 4px 8px 4px 0;
  background-color: black;
  border-radius: 16px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  border: 1px solid rgb(96, 96, 96);
  cursor: pointer;
  margin-bottom: 0.75rem;
}

@media screen and (max-width: 1030px) {
  aside {
    grid-column: 1;
    grid-row: 6;
    margin-top: 1rem;
    margin-left: 1.375rem;
  }
}
